#about {
    @media (max-width: 1000px)
    {
        flex-direction: column;

        .flex {
            flex-basis: 100%;
            flex-grow: 1;
            max-width: 100%;
    
            &:first-child {
                order: 2;
            }
        }
    }   
}

.about-shadow {
    text-shadow: 2px 2px #000000;
}