#randomDogs {
    .flex {
        @media (max-width: 1000px)
        {
            flex-basis: 50%;
        }

        @media (max-width: 600px) {
            flex-basis: auto;
        }

        flex: 0 1 24%;

        a {
            text-decoration: none;
            color: #000000;
        }

        & > .v-card {

            height: 100%;

            &:hover {
                box-shadow: 1px 1px 10px 0px #000;
            }
        }
    }

    .dog-desc {
        margin-bottom: 40px;
    }

    .v-card__actions {
        position: absolute;
        bottom: 0px;
    }
}

#spotlight {
    min-height: 200px;

}

.spotlight__user-image {
    width: 200px;
    height: 200px;
    margin-right: 30px;

    img {
        border-radius: 50%;
        object-fit: cover;
        width: 200px;
        height: 200px;

        box-shadow: 1px 1px 10px 0px #000000;
    }
}
